.notification-highlight {
    width: 344px;
    .ant-notification-notice-content {
        float: right;
    }
    .ant-notification-notice-message {
        padding-right: 0px;
        margin-bottom: 0;
    }
}