.notif-note {

    &__message {
        display: inline-flex;
    }

    &__icon {
        padding-right: 5px;
    }

    &__text {
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    &__input {
        width: 300px;
        padding-bottom: 20px;
    }

    &__buttons {
        width: 300px;
        display: flex;
        justify-content: flex-end;
    }

    &__save {
        font-size: 12px;
        padding-left: 15px;
    }

    &__cancel {
        font-size: 12px;
    }
}