.comment-list {
    &__placeholder {
        padding: 45px 0;
        text-align: center;
        color: @text-color;
        background: @no-comments-placeholder-bg top center no-repeat;
        background-size: contain;
        min-height: 135px;
        user-select: none;
        cursor: default;
        &-link {
            cursor: pointer;
            color: @primary-color;
            display: inline-block;
        }
    }

    &__loader-wrapper {
        height: 54px;

        &_more {
            height: 35px;
        }
    }

    &__trigger {
        height: 0;
    }
}
