.comment-image {
    width: 100%;

    &__image-wrapper {
        position: relative;
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0px 4px !important;
        color: @heading-color;
    }

    &__img {
        width: 100%;
        &_readonly {
            cursor: zoom-in;
        }
    }

    &__gif-play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px;
        margin-left: -40px;
        color: rgba(255, 255, 255, 0.86);
        opacity: 1;
        transition: opacity 0.218s ease-in-out;
        font-size: 80px;
        line-height: 1;

        &_transparent {
            opacity: 0;
        }
    }
}
