.comment-list {
    &__placeholder {
        padding: 16px 0;
        text-align: center;
        color: @text-color-secondary;
    }

    &__loader-wrapper {
        height: 54px;

        &_more {
            height: 35px;
        }
    }

    &__trigger {
        height: 0;
    }
}
