.comment-editor {
    margin: 16px 0;
    position: relative;
    display: flex;

    &__avatar {
        flex: 0 0 auto;
    }

    &__editor-area {
        flex: 1 1 auto;
        display: flex;
    }

    &__editor-wrapper {
        flex: 1 1 auto;
        padding: 5px;
        color: @heading-color;
        position: relative;        
        word-break: break-word;

        .public-DraftEditorPlaceholder-root {
            position: absolute;
            z-index: 1;
            color: @text-color-secondary;
        }

        &_hide-placeholder .public-DraftEditorPlaceholder-root {
            display: none;
        }
    }

    &__editor-box {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 8px;
        border: 1px solid @light-border;
        border-radius: 4px;
        padding: 0 8px;
        position: relative;

        &:not(.comment-editor__editor-box_empty) {
            min-height: 98px;
        }

        &_empty {
            height: 38px;
            cursor: pointer;

            .DraftEditor-root {
                cursor: pointer;
            }
        }
    }

    blockquote {
        border-left: 3px solid @light-border;
        color: @text-color;
        font-style: italic;
        margin: 8px 0;
        padding: 4px 8px;
    }

    &__toolbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid @light-border;
        margin-top: 8px;
        height: 32px;
        background-color: @background;  
        margin-left: -8px;
        margin-right: -8px;     
        padding: 0px 8px;        
    }

    &__toolbar-actions {
        display: flex;
        flex: 1 1 auto;
    }

    &__toolbar-button {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        padding: 2px;
        
        &:not(&_active) {
            svg:not(.add-image__icon) {
                stroke: @text-color-secondary !important;
            }
        }

        &_active {
            svg {
                stroke: @primary-color !important;
            }
        }
    }

    &__link-icon {
        &_disabled {
            stroke: @text-color-secondary !important;
        }
        &_active {
            stroke: @primary-color !important;
        }
    }

    &__separator {
        width: 1px;
        height: 18px;
        margin: 0px 8px 0px 3px;
        background-color: @text-color-secondary;
    }

    &__publish-button {
        color: @primary-color;

        &_disabled {
            color: @text-color-secondary;
            cursor: not-allowed;
        }
    }
}
