.delete-modal {
    top: 200px;

    .ant-modal-content {
        border-radius: 5px;
    }

    .ant-modal-footer {
        text-align: center;
        border-top: none;
    }

    .ant-modal-body {
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        color: @heading-color;
    }


}