.geth-details-modal {
    height: 400px;

    &__split {
        display: flex;
        justify-content: space-between;
        margin-bottom: -20px;
    }

    .ant-input:not(.ant-input-disabled) {
        color: @heading-color;
    }

    .ant-select-selection-selected-value {
        color: @heading-color;
    }
}