.ipfs-details-modal {
    height: 400px;

    &__ports {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -12px;
    }

    &__info-icon {
        margin-left: 5px;
        width: 12px;
        height: 12px;
        stroke: initial !important;
    }
}
