.service-details-modal {
    overflow: hidden !important;
    
    &__button-label {
        font-size: 15px;
    }

    &__tab-pane {
        padding: 10px 30px;
        height: 340px;

        &_logs {
            padding: 10px 8px 0px;
        }
    }

    &__footer {
        display: flex;
    }

    &__footer-left {
        flex: 0 0 auto;
        height: 36px;
        display: flex;
        align-items: center;
    }

    &__footer-right {
        flex: 1 1 auto;
    }

    &__toggle-label {
        font-size: 14px;
        font-weight: 500;
    }

    .ant-modal-body {
        padding: 0px !important;
    }

    .ant-tabs-nav {
        width: 100%;
    }

    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
        height: 60px;
        font-size: @font-size-base;
    }

    .ant-tabs-bar {
        height: 60px;
    }

    .ant-tabs-tab {
        width: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    & > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
        background: #fff;
    }

    & > .ant-tabs-card > .ant-tabs-bar {
        border-color: #fff;
    }

    & > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        background: #f8f8f8;
        border-color: transparent;
        height: 59px;
    }

    & > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        border-color: #fff;
        background: #fff;
        height: 60px;
    }

    .ant-modal-footer {
        padding: 10px 24px;
    }
}
