.service-details-modal {
    overflow: hidden !important;
    
    &__button-label {
        font-size: 15px;
    }

    &__tab-pane {
        padding: 10px 30px;
        height: 340px;

        &_logs {
            padding: 10px 8px 0px;
        }
    }

    &__footer {
        display: flex;
    }

    &__footer-left {
        flex: 0 0 auto;
        height: 36px;
        display: flex;
        align-items: center;
    }

    &__footer-right {
        flex: 1 1 auto;
    }

    &__toggle-label {
        font-size: 14px;
        font-weight: 500;
    }
}
