.tutorial-modal {
    top: 200px;

    .ant-modal-content {
        border-radius: 5px;
    }

    .ant-modal-header {
        border-bottom: none;
    }

    .ant-modal-footer {
        text-align: center;
        border-top: none;
    }

    .ant-modal-body {
        font-size: 13px;
        color: @heading-color;
        padding: 0px 24px 24px 24px;
    }

    &__text {
        padding: 5px 0;
    }
}