.entry-card-header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 16px 0px 12px;

    &__avatar {
        flex: 0 0 auto;
        margin-right: 10px;
    }

    &__text {
        flex: 1 1 auto;
        font-size: 15px;
        line-height: 1;
        height: 32px;  
    }

    &__title {
        display: inline-block;
    }

    &__subtitle {
        display: flex;
        align-items: center;
        margin-top: 2px;
        font-size: 12px;
        font-weight: 400;
        height: 14px;
        color: @text-color-secondary;        
    }

    &__author-placeholder {
        height: 15px;
        background-color: #eee;
        width: 70px;
    }

    &__edit-icon {
        font-size: 18px;
    }
}