.highlight-header {
    display: flex;
    align-items: center;
    height: 52px;
    padding-top: 16px;

    &__link {
        display: flex;
        align-items: center;
    }

    &__avatar {
        flex: 0 0 auto;
        margin-right: 10px;
    }

    &__text {
        flex: 1 1 auto;
        font-size: 15px;
        line-height: 1;
        height: 32px;  
    }

    &__actions {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__subtitle {
        display: flex;
        align-items: center;
        margin-top: 5px;
        font-size: 12px;
        font-weight: 400;
        height: 14px;
        color: @text-color-secondary;        
    }
 
    &__button {
        margin: 0px 10px;
        display: flex;
        align-items: center;
    }

    &__button-text {
        font-size: 13px;
        font-weight: 400;
        padding: 8px 16px;
        color: @heading-color;
        cursor: pointer;
        &:hover {
            background-color: @background;
        }
    }

    &__entry-title {
        display: inline-flex;
        max-width: 140px;
        height: 14px;
    }

    &__more-icon {
        height: 16px;
        width: 34px;
        padding-right: 10px;
        stroke: initial !important;
    }
}