.highlight-card {
    width: 100%;
    margin-bottom: 20px;

    .ant-card-head {
        height: 52px;
        border-bottom: none;
        padding: 0px 16px;
    }

    .ant-card-body {
        padding: 16px;
    }

    &__content {
        margin-left: 42px;
        font-style: italic;
    }

    &__notes {
        margin-top: 30px;
        color: @text-color-secondary;
    }

    &__notes-title {
        font-size: 13px;
    }
}