.website-info-card {
    width: 100%;
    margin: 0 auto;
    display: block;
    &__source-url {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 45%;
        display: block;
    }
}
