.root {
    position: relative;
    display: inline-block;
}
.userInitials {
    text-transform: uppercase;
}
.rotateButton {
    margin-top: -18px;
    cursor: pointer
}
.clearAvatarButton {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.addImageIcon {
     height: 100% !important;
     width: 25% !important;
}
.avatarEmpty {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
.dialogHandler {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    left: 0;
}
