.root {
    position: relative;
    display: inline-block;
    width: 100%;
}
.userInitials {
    text-transform: uppercase;
}

.avatarEmpty {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
