.comment_writer {
    padding: 16px 0;
}
.avatar_image,
.comment_editor {
    display: inline-block;
}
.avatar_image {
    vertical-align: top;
}
.comment_publish_actions {
    margin-top: 8px;
}
.comment_editor {
    width: 100%;
    &_inner {
        margin-left: 8px;
        border: 1px solid #DDD;
        padding-left: 16px;
        padding: 0 8px;
    }
    :global {
        .megadraft {
            .megadraft-editor {
                .paragraph,
                h2,
                h1,
                blockquote,
                .public-DraftStyleDefault-ul,
                .public-DraftStyleDefault-ol {
                    width: 100%;
                }
                .public-DraftEditorPlaceholder-root {
                    line-height: 32px;
                }
            }
        }
    }
}