.edit-list-btn {   
    &__form {
        .ant-form {
            margin-top: 10px;
        }
        .ant-form-item {
            margin-bottom: 15px;
        }
        .ant-form-item-label {
            font-size: 11px;
            margin-bottom: 3px;
        }
    }

    &__edit {
        margin-bottom: -5px;
    }
    
    &__header {
        font-weight: 500;
    }
    
    &__footer {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
    }
    
    &__submit-btn {
        padding-left: 10px;
    }

    &__icon {
        stroke: @text-color;
        height: 16px;
        width: 16px;
    }
}