.highlights {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    &__wrap {
        height: 100%;
        padding-right: 4px;
    }

    &__grid-sizer {
        width: 50%;
    }
    
    &__content {
        width: 85%;
    }

    &__cards-wrap {
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: space-between;
    }

    &__search {
        padding: 40px 10px 20px 10px;

        &_editing {
            opacity: 0.7;
        }    

        .ant-input-prefix {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 36px;
            left: 0;
            align-items: center;
            border-right: 1px inset lightgrey;
        }

        .ant-input-affix-wrapper .ant-input {
            padding-left: 45px;
        }
    }
}