.highlights {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &__wrap {
        height: 100%;
        padding-right: 4px;
    }
    
    &__content {
        width: 80%;
        margin: 0 auto;
    }

    &__search {
        padding: 40px 5px 20px 5px;

        &_editing {
            opacity: 0.7;
        }    

        .ant-input-prefix {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 36px;
            left: 0;
            align-items: center;
            border-right: 1px inset lightgrey;
        }

        .ant-input-affix-wrapper .ant-input {
            padding-left: 45px;
        }
    }
}