.lists {
    display: flex;
    justify-content: center;
    height: 100%;

    &__wrap {
        height: ~'calc(100% - 52px)';
        width: 80%;
        max-width: 730px;
        margin-top: 30px;

        .ant-tabs {
            height: 100%;
        }

        .ant-tabs-bar {
            margin: 0 15px 16px 7px;
        }

        .ant-tabs-content {
            height: 100%;
        }
    }

    &__content {
        overflow-y: auto;
        height: ~'calc(100% - 80px)';

    }

    &__header {
        width: 710px;
        margin: 0 5px 25px 5px;
        display: inline-flex;
        justify-content: space-between;
    }

    &__create {
        padding-left: 10px;

        .ant-btn-lg {
            height: 36px;
        }
    }

    &__search {
        justify-content: center;
        width: 100%;

        .ant-input-prefix {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 36px;
            left: 0px;
            align-items: center;
            border-right: 1px inset lightgrey;
        }

        .ant-input-affix-wrapper .ant-input {
            padding-left: 45px;
        }
    }

    &__masonry {
        transition: none;
    }

    &__new-list-form {
        margin-top: 15px;
        .ant-form {
            margin-top: 10px;
        }
        .ant-form-item-label {
            font-size: 11px;
            margin-bottom: 3px;
        }
    }

    &__new-list-header {
        font-weight: 500;
    }

    &__new-list-footer {
        width: 250px;
        display: inline-flex;
        justify-content: flex-end;
    }

    &__new-list-submit-btn {
        padding-left: 10px;
    }
}