.lists {
    display: flex;
    justify-content: center;
    height: 100%;

    &__content {
        height: 100%;
        width: 80%;
        max-width: 730px;
        height: 100%;
        margin-top: 30px;
    }

    &__search {
        display: flex;
        justify-content: center;
        width: 200px;

        .ant-input-prefix {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 36px;
            left: 0px;
            align-items: center;
            border-right: 1px inset lightgrey;
        }

        .ant-input-affix-wrapper .ant-input {
            padding-left: 45px;
        }
    }

    &__masonry {
        transition: none;
    }

    &__masonry-wrap {
        overflow-y: auto;
        // height: ~'calc(100% - 250px)';

    }
}