.list-entries {
    height: 100%;

    &__pad {
        height: 100%;
        padding-right: 4px;
    }

    &__wrap {
        // height: ~'calc(100% - 52px)';
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__header {
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 57px;
    }

    &__subheader {
        display: inline-flex;
    }

    &__actions {
        display: inline-flex;
        margin-left: 30px;
    }

    &__name {
        font-size: 18px;
        font-weight: 500;
    }

    &__date {
        font-size: 13px;
        font-weight: 400;
        color: @text-color-secondary;

        span {
            margin-right: 5px;
        }
    }

    &__content {
        height: ~'calc(100% - 80px)';
    }
}