.lists {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &__wrapper {
        height: 100%;
        padding-right: 4px;
    }

    &__content-wrap {
        height: 100%;
        width: 80%;
        margin: 40px auto 0;

        .ant-tabs {
            height: 100%;
        }

        .ant-tabs-bar {
            margin: 0 15px 16px 7px;
        }

        .ant-tabs-content {
            height: 100%;
        }
    }

    &__content {
        height: 100%;
    }

    &__header {
        width: 100%;
        margin: 0 5px 25px 5px;
        display: inline-flex;
        justify-content: space-between;
    }

    &__search {
        justify-content: center;
        width: 100%;

        .ant-input-prefix {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 36px;
            left: 0px;
            align-items: center;
            border-right: 1px inset lightgrey;
        }

        .ant-input-affix-wrapper .ant-input {
            padding-left: 45px;
        }
    }

    &__masonry {
        transition: none;
    }
}