.myentries {
    height: 100%;
    padding-right: 4px;

    &__content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__list {
        margin: 30px auto;
    }
}