.myentries {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    &__content {
        width: 60%;
    }

    &__search {
        padding-top: 40px;
        padding-bottom: 20px;

        .ant-input-prefix {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 30px;
            align-items: center;
            border-right: 1px inset lightgrey;
        }

        .ant-input-affix-wrapper .ant-input {
            padding-left: 45px;
        }
    }
}