.confirmation {
    .ant-modal-header {
        border-bottom: none;
    }

    .ant-modal-footer {
        border-top: none;
    }

    .remember-passphrase {
        margin-bottom: 0px;
    }
    
    &__login-form {
        .ant-form-item {
            margin-bottom: 0px;
        }
        .ant-form-explain {
            position: absolute;
            bottom: 0px;
        }
    }
}
