.root {}
.commentHeader {
    paddingTop: 8px;
}
.commentAuthor {
    
}
.header {
    padding: 0;
    img {
        width: 32px!important;
        height: 32px!important;
    }
}
.commentBody {
    padding: 0 8px;
}
.commentReply {
    padding-left: 48px;
}