{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"]
            }
        }],
        "react",
        "stage-0",
        "flow"
    ],
    "plugins": [
        "add-module-exports",
        "transform-runtime"
    ],
    "env": {
        "development": {
            "presets": [
                "react-hmre"
            ],
            "plugins": [
                [
                    "react-intl",
                    {
                        "messagesDir": "./intl/en",
                        "enforceDescriptions": false
                    }
                ]
            ]
        }
    }
}
