[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4
quote_type=single

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc,*.config.js}]
indent_style=space
indent_size=2

[{*.applejs,*.js}]
indent_style=space
indent_size=4
quote_type=single

[{*.ats,*.ts}]
indent_style=space
indent_size=2

[{jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

[tsconfig.json]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[yarn.lock]
indent_style=space
indent_size=2

[tslint.json]
indent_style=space
indent_size=2

