{
  "extends": "airbnb",
  "rules": {
  	"indent": [2, 4],
    "comma-dangle": [0],
    "complexity": [2, 10],
    "no-param-reassign": [0],
    "max-depth": [2, 5],
    "max-statements": [2, 20],
    "space-before-function-paren": [2, "always"],
    "eqeqeq": "off",
    "import/no-unresolved": "off"
  },
  "parser": "babel-eslint"
}
