[submodule "contracts"]
	path = contracts
	url = git@github.com:AkashaProject/contracts.git
[submodule "contracts.sol"]
	path = contracts.sol
	url = git@github.com:AkashaProject/contracts.sol.git
[submodule "electron-api/modules/services/ipfs-connector"]
	path = electron-api/modules/services/ipfs-connector
	url = git@github.com:AkashaProject/ipfs-connector.git
