.selectable-editor {
    position: relative;

    &__popover-inner {
        height: 100%;
        width: 100%;
    }

    &__popover-wrapper {
        width: 200px;
        height: 0px;
        position: absolute;
    }
}
