.configuration {
    &__title {
        font-weight: 500;
        font-size: 20px;
    }

    &__form {
        margin-top: 24px;
    }

    &__button-label {
        font-weight: 400;
        font-size: 15px;
    }
}