.new-identity {
    &__content {
        width: 45%;
        max-width: 600px;
        margin: 40px auto 0px;
    }

    &__title {
        font-size: 16px;
        color: @heading-color;
    }

    &__subtitle {
        color: @text-color;
        font-size: 14px;
        margin: 5px 0px 32px;
    }

    &__form-wrapper {
        height: 170px;
    }

    &__terms {
        display: flex;
        justify-content: flex-end;
    }

    &__footer {
        background-color: @light-background;
    }

    &__button {
        margin-left: 15px;
    }

    .ant-form-item label {
        font-size: 11px;
        text-transform: uppercase;
        color: @text-color;
    }

    .ant-form-item-label {
        line-height: 24px;
    }

    .ant-form-explain {
        position: absolute;
        bottom: -15px;
        font-size: 12px;
        line-height: 15px;
    }

    .ant-form-item {
        margin-bottom: 24px !important;
    }

    .ant-input {
        color: @heading-color;
    }
}