.new-identity-interests {
    display: flex;
    flex-direction: row;

    &__left {
        width: 400px;
    }

    &__left-bold-text {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 10px;
    }

    &__right {
        width: 600px;

        .ant-input-prefix {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 30px;
            align-items: center;
            border-right: 1px inset lightgrey;
        }

        .ant-input-affix-wrapper .ant-input {
            padding-left: 45px;
        }
    }



}