.new-identity {
    .ant-form-item label {
        font-size: 11px;
        text-transform: uppercase;
        color: @text-color;
    }

    .ant-form-item-label {
        line-height: 24px;
    }

    &__content {
        width: 45%;
        max-width: 600px;
        margin: 40px auto 0px;
    }

    &__title {
        font-size: 18px;
    }

    &__subtitle {
        color: @text-color;
        margin: 5px 0px 32px;
    }

    &__form-wrapper {
        height: 162px;
    }

    &__terms {
        display: flex;
        justify-content: flex-end;
    }

    &__footer {
        background-color: #fefefe;
    }

    &__button {
        margin-left: 15px;
    }
}