.profile-complete {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0;
    padding-bottom: 0px !important;

    &__left {
        width: 290px;
        padding-right: 70px;
        display: flex;
        flex-direction: column;
    }

    &__left-bold-text {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 670px;
    }
}
