.setup-pages {
    height: 100vh;

    &_left {
        background-color: #fafafa;
        border-right: 1px solid #eee;
    }

    &__header {
        height: 80px;
        width: 100%;
    }

    &__content {
        height: ~"calc(100% - 80px)";
        width: 100%;
    }
}


