.setup-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;

    &__title {
        width: 50%;
        height: 100%;
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
        text-transform: lowercase;
        padding: 20px;    
    }

    &__services {
        width: 50%;
        height: 100%;
        padding: 20px;
    }
}
