.setup-header {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @background;

    &__title {
        width: 50%;
        height: 100%;
        font-size: 18px;
        color: @heading-color;
        font-weight: 500;
        line-height: 24px;
        text-transform: lowercase;
        padding: 24px;    
    }

    &__services {
        width: 50%;
        height: 100%;
        padding: 24px;
    }
}
