.setup-pages {
    height: 100vh;
    background-color: @background;

    &_left {
        border-right: 1px solid @border-color;
    }

    &_right {
        background-color: @page-bg;
    }

    &__header {
        height: 72px;
        width: 100%;
    }

    &__content {
        height: ~"calc(100% - 72px)";
        width: 100%;
    }
}


