.sync-status {
    height: 240px;
    width: 100%;

    &__progress-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__details {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-size: 20px;
        color: @heading-color;
        padding: 5px;
        text-align: center;
    }

    &__counter {
        color: @text-color-secondary;
        font-size: 16px;
        margin: 5px 0px;
        text-align: center;
    }

    &__counter-message {
        margin-right: 10px;
    }
}