.loader {
    width: 100%;
    height: 100%;
}
.root {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 64px;
    right: 0;
    overflow-x: hidden;
}
.entry_page_inner {
    margin: 0 auto;
}
.content_section {
    z-index: 10;
    position: relative;
}
.entry_infos {
    max-width: 700px;
    margin: 0 auto;
}
.comments_section {
    padding-bottom: 20px;
}

.unresolved_entry {
    height: 300px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.button_absolute {
    position: absolute;
    margin: 0 auto;
    top: 40px;
    width: 700px;
}

.button_fixed {
    position: fixed;
    left: 64px;
    right: 6px;
    top: 96px;
}
