.entry_header_actions {
    height: 80;
    display: flex;
    align-items: center;
}

.entry_publisher_name {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 570px;
    text-align: left;
}

.entry_publisher_info {
    margin: 0 auto;
    &_inner {
        display: flex;
        max-width: 752px;
        margin: 0 auto;
        transition: box-shadow 0.215s ease-in-out;
    }
}