.uploadButton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    width: 100%;
}
.clearImageButton {
    position: absolute;
    top: 8px;
    right: -8px;
    z-index: 3;
    width: 36;
}