.root {
    width: 64px;
    position: fixed;
    left: -64px;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cccccc;
    transition: left 0.175s ease-in-out;
    will-change: left;
    max-width: 64px;
}
.sidebarInner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.shown {
    left: 0;
    transition: left 0.175s ease-in-out;
    will-change: left;
}

.panelWrapper {
    position: fixed;
    top: 0;
    right: -64px;
    bottom: 0;
    transition: right, width 150ms ease-in-out;
    overflow: hidden;
    max-width: 64% !important;
    will-change: right, width;
    z-index: 20;
    width: 0;
    &.open {
        right: 0;
        width: 100%;
    }
}

.open {
    transition: right, width 150ms ease-in-out;
    will-change: right, width;
}

.profileIcon {
    flex-grow: 0;
    padding: 14px 14px 5px;
}

.balanceInfo {
    flex-grow: 0;
    font-size: 14px;
    font-weight: 100;
}
.balanceAmount {}
.balanceCurrency {}
.entryIcon {
    flex-grow: 1;
    padding: 14px;
}

.streamIcon {
    flex-grow: 4;
    padding: 14px
}

.logo {
    flex-grow: 1;
    padding: 14px 8px;
    align-items: flex-end;
}

.panelWrapperOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(75, 91, 103, 0.89);
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.218s ease-in-out;
}

.overlayVisible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.218s ease-in-out;
}
