.root {
    width: 64px;
    position: fixed;
    left: -64px;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cccccc;
    transition: left 0.175s ease-in-out;
    will-change: left;
    max-width: 64px;
}
.sidebarInner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.shown {
    left: 0;
    transition: left 0.175s ease-in-out;
    will-change: left;
}

.profileIcon {
    flex-grow: 0;
    padding: 14px 14px 5px;
}

.balanceInfo {
    flex-grow: 0;
    font-size: 14px;
    font-weight: 100;
}
.balanceAmount {}
.balanceCurrency {}
.entryIcon {
    flex-grow: 1;
    padding: 14px;
}

.streamIcon {
    flex-grow: 4;
    padding: 14px
}

.logo {
    flex-grow: 1;
    padding: 14px 8px;
    align-items: flex-end;
}
