.profile-activity {
    flex: 1 1 auto;    
    height: 100%;
    padding: 16px 8px 0px;
    background-color: @light-background;
    display: flex;
    overflow-x: auto;

    &__column {
        flex: 0 0 auto;
        width: 360px;
        height: 100%;
        background-color: @background;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    &__column-header {
        padding: 16px 8px;
        font-size: 18px;
        font-weight: 400;
        color: @heading-color;
        width: 100%;
    }

    &__column-title {
        width: 100%;
        line-height: 1;
    }
}