.modal {
    position: absolute;
    left: 64px;
    top: 0;
    bottom: 0;
}

.root {
    height: 100%;
}

.panelLoader {
    @extend .modal;
    z-index: 990
}

.entryLoader {
    @extend .modal;
    right: 0
}

.childWrapper {
    padding-left: 64px;
}