.text-entry-editor {
    text-align: left;
    &__title-wrapper {
        width: 100%;
        margin: 24px 0;
    }
    &__title {
        width: 700px;
        margin: 0 auto;
    }
    &__title-input-field {
        font-size: 52px;
        line-height: 1.2;
        width: 100%;
        border: none;
        outline: none;
        font-weight: 500;
        resize: none;
        background: transparent;
    }
    &__editor-wrapper {
        position: relative;
    }
}
