.sidebar {
    &__sidemenu-wrapper {
        position: relative;
    }
    &__image-error {
        background-color: @light-background;
        position: absolute;
        left: 40px;
        padding-top: 5px;
        width: 450px;
        color: @dark-red;
    }
}
