.text-entry-editor {
    text-align: left;
    overflow-y: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 128px;
    top: 85px;
    // overflow-y: auto;
    &__editor-wrapper {
        position: relative;
    }
}
