html, body {
  margin: 0;
  height: 100%;
}
.hidden {
  display: none;
}
.fill-height {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fill-height > div {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: inline-flex;
}

.user-icon {
  visibility: hidden;
  &:hover, .active {
    visibility: visible;
    cursor: pointer;
  }
}

.hand-icon {
  &:hover {
    cursor: pointer;
  }
}

