.app-settings {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: white;

    &_sidebar {
        padding-left: 64px;
    }

    &__close-wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 20px 20px;
        color: @dark-grey;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 50%;
        padding-top: 30px;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 10px;
    }

    &__description {
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 30px;
        color: @dark-grey;
    }

    &__lang-title {
        font-size: 12px;
        padding-bottom: 5px;
        color: @dark-grey;
    }

    &__theme {
        padding-top: 20px;
    }

    &__theme-title {
        font-size: 12px;
        padding-bottom: 15px;
        color: @dark-grey;
    }

    &__theme-switch-wrapper {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
    }

    &__update {
        display: flex;
        justify-content: flex-end;
        padding-top: 150px;
    }

    &__update-title {
        font-weight: 400;
        font-size: 18px;
        color: @grey;
    }
}