.dashboard {
    display: flex;
    padding: 20px 20px 0;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    background-color: @light-background;
    
    &__column {
        flex: 0 0 auto;
        border-radius: 4px;
        margin-right: 12px;
        background-color: @background;
    }

    &__empty-placeholder {
        height: 100%;
        width: 100%;
        color: @text-color-secondary;
        cursor: default;
    }

    &__create-button {
        margin-left: 5px;
        color: @primary-color;
    }
}