.dashboard {
    display: flex;
    padding: 20px 20px 0;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    background-color: #fff;
    // TODO remove this
    // background-color: #555;
    
    &__column {
        flex: 0 0 auto;
        border-radius: 4px;
        margin-right: 12px;
        background-color: #f7f7f7;
    }
}