.data-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px;

    &__inner {
        width: @spin-dot-size;
        height: @spin-dot-size;
        padding: 2px;
        
        &_small {
            width: @spin-dot-size-sm;
            height: @spin-dot-size-sm;
            padding: 2px;            
        }

        &_large {
            width: @spin-dot-size-lg;
            height: @spin-dot-size-lg;
            padding: 2px;
        }
    }
    &__message {
        margin-top: 18px;
    }
}
