.edit-entry-page {
    position: relative;
    height: 100%;
    &__no-drafts {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        justify-content: center;
        &_placeholder-image {
            background: url('../../images/placeholders/NoDrafts-EmptyState-LightTheme.png') top center no-repeat;
            min-height: 315px;
        }
        &_dark {
            .edit-entry-page__no-drafts_placeholder-image {
                min-height: 300px;
                min-width: 300px;
                background: url('../../images/placeholders/NoDrafts-EmptyState-DarkTheme.png') top center no-repeat;
            }
        }
        &_placeholder-text {
            a {
                margin-left: 5px;
            }
        }
    }
    &__publish-button {
        &_pending {
            background-color: @warning-color;
            border-color: darken(@warning-color, 5%);
        }
    }
    &__error-text {
        width: @text-editor-width;
        display: block;
        margin: 0 auto;
    }
    &__data-loader {
        height: 100%;
    }
    &__error-text {
        color: @error-color;
    }
    &__url-input-field {
        width: @text-editor-width;
        margin: 0 auto;
        display: block;
        border: none;
        outline: none;
        background: transparent;
        font-size: 16px;
        margin-bottom: 24px;
    }
    &__title-input-field {
        font-size: 30px;
        border: none;
        outline: none;
        font-weight: 400;
        resize: none;
        background: transparent;
        width: @text-editor-width;
        display: inherit;
        top: 24px;
        margin: 0 auto;
        padding-bottom: 32px;
    }

    &__content {
        height: ~"calc(100% - 32px)"; // 32px is the margin
        margin-top: 32px
    }

    &__publish-options {
        position: fixed;
        top: 72px;
        right: 56px;
        display: inline-block;
        cursor: pointer;
        z-index: 5;
        color: @primary-color;
        svg {
            stroke: @primary-color
        }
    }

    &__publish-options-panel-wrapper {
        position: fixed;
        right: -100%;
        bottom: @editor-footer-height;
        top: @top-bar-height;
        background-color: @light-background;
        z-index: 10;
        transition: right 0.218s @ease-in-out;
        &_open {
            right: 0;
            transition: right 0.218s @ease-in-out;
        }
    }

    &__editor-wrapper {
        max-height: ~"calc(100% - @{editor-footer-height})";
    }
    &__editor {
        height: 100%;
        min-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__editor-inner {
        min-height: ~"calc(100% - 48px)";;
    }
    &__editor,
    &__tag-editor {
        text-align: left;
        display: block;
        margin: 0 auto;
    }
    &__info-card-wrapper {
        max-width: @text-editor-width;
        margin: 0 auto;
    }
    &__footer-wrapper {
        position: fixed;
        bottom: 0;
        left: @sidebar-width + @secondary-sidebar-width;
        right: 0;
        height: @editor-footer-height;
        border-top: 1px solid @light-border;
        background: @light-background;
        transition: left 0.218s @ease-in-out;
        z-index: 10;
        &_full {
            left: @sidebar-width;
            transition: left 0.218s @ease-in-out;
        }
    }
    &__footer {
        padding: 8px 24px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
    }
    &__footer-timeline-wrapper {
        display: flex;
        flex: 100%;
        max-width: 90%;
    }
    &__footer-timeline {
        margin-top: 16px;
        &_empty {
            width: 25%;
        }
    }
    &__footer-actions {
        display: flex;
        button {
            margin-left: 8px;
        }
    }
    &__more-icon {
        margin-right: 5px;
    }
}
.edit-entry-page__timeline-steps {
    .ant-steps-status-none {
        .ant-steps-item-tail {
            border-top: 3px dashed @light-border;
            background: transparent;
        }
    }
    .ant-steps-item {
        .ant-steps-item-tail {
            &:after {
                background: @border-color;
            }
        }
    }
    &.ant-steps {
        .ant-steps-item-title {
            font-size: 12px;
        }
        .ant-steps-item {
            .ant-steps-main {
                margin-top: 8px;
            }
            .ant-steps-title {
                line-height: 1.2;
            }
        }
    }
    .draft-dot,
    .published-dot {
        .ant-steps-icon-dot {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            margin-top: -4px;
        }
    }
    .draft-dot {
        .ant-steps-icon-dot {
            background-color: @yellow;
        }
    }
    .published-dot {
        .ant-steps-icon-dot {
            background-color: @light-background;
            border: 2px solid @light-border;
        }
        &-selected {
            .ant-steps-icon-dot {
                background-color: @primary-color;
            }
        }
    }
}
