.entry-list {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: visible;
    width: 100%;
    &_flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__empty-placeholder,
    &__search-placeholder {
        height: 100%;
        padding-top: 10px;
        color: @text-color;
        flex-wrap: wrap;
        padding-top: 36px;
    }
    &__empty-placeholder {
        width: 100%;
        &-inner {
            width: 100%;
        }
        &-image {
            background: @entry-list-card-placeholder-bg top center no-repeat;
            height: 110px;
            width: 100%;
            flex-grow: 1;
        }
        &-text {
            width: 100%;
            flex-grow: 1;
            text-align: center;
        }
    }
    &__search-placeholder {
        &-inner {
            width: 100%;
        }
        &_image {
            background: @search-entry-list-placeholder-bg top center no-repeat;
            height: 153px;
            width: 100%;
            flex-grow: 1;
        }
        &_text {
            width: 100%;
            flex-grow: 1;
            text-align: center;
            margin-top: 1.2em
        }
    }
}
