.text-entry-page {
    position: relative;
    overflow-y: auto;
    height: ~"calc(100% - 64px)";
    &__title-input-field {
        font-size: 30px;
        line-height: 1.2;
        width: 100%;
        border: none;
        outline: none;
        font-weight: 400;
        resize: none;
        background: transparent;
    }
    &__content {
        height: 100%;
    }
    &__publish-options {
        position: fixed;
        top: 72px;
        right: 16px;
        display: inline-block;
        cursor: pointer;
        z-index: 5;
    }
    &__publish-options-panel-wrapper {
        position: fixed;
        right: -100%;
        bottom: 64px;
        top: 50px;
        background-color: #FFF;
        z-index: 10;
        transition: right 0.218s @ease-in-out;
        &_open {
            right: 0;
            transition: right 0.218s @ease-in-out;
        }
    }
    &__editor-wrapper {
        padding-top: 48px;
        text-align: center;
        transition: width 0.218s @ease-in-out;
    }
    &__editor {
        min-height: ~"calc(100% - 64px)";
    }
    &__editor,
    &__tag-editor {
        text-align: left;
        width: 700px;
        display: block;
        margin: 0 auto;
    }
    &__footer-wrapper {
        position: fixed;
        bottom: 0;
        left: calc(200px + 64px);
        right: 0;
        height: 64px;
        border-top: 1px solid #DDD;
        background: #FFF;
        transition: left 0.218s @ease-in-out;
        z-index: 10;
        &_full {
            left: 64px;
            transition: left 0.218s @ease-in-out;
        }
    }
    &__footer {
        padding: 8px 24px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
    }
    &__footer-timeline-wrapper {
        display: flex;
        flex: 100%;
    }
    &__footer-timeline {
        margin-top: 16px;
        width: 50%;
        &_empty {
            width: 25%;
        }
    }
    &__footer-actions {
        display: flex;
        button {
            margin-left: 8px;
        }
    }
}
.text-entry-page__timeline-steps {
    .ant-steps-status-none {
        .ant-steps-tail {
            > i {
                border-top: 3px dashed #D8DCDF;
                background: transparent;
            }
        }
    }
    &.ant-steps {
        .ant-steps-title {
            font-size: 10px;
        }
        .ant-steps-item {
            .ant-steps-main {
                margin-top: 8px;
            }
            .ant-steps-title {
                line-height: 1.2;
            }
        }
    }
    .draft-dot,
    .published-dot {
        .ant-steps-icon-dot {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            margin-top: -4px;
        }
    }
    .draft-dot {
        .ant-steps-icon-dot {
            background-color: #FEC141;
        }
    }
    .published-dot {
        .ant-steps-icon-dot {
            background-color: #FFF;
            border: 2px solid #DDD;
        }
        &-selected {
            .ant-steps-icon-dot {
                background-color: @primary-color;
            }
        }
    }
}
