.page-content {
    position: fixed;
    left: 264px;
    right: 0;
    top: @top-bar-height;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background: @page-bg;
    transition: left 0.281s @ease-in-out;
    &_full {
        left: 64px;
    }
}
