.panel-container-footer {
    &:extend(.paper);
    background-color: #FFF;
}
.profile-panel-footer {
    &:extend(.panel-container-footer);
    background-color: #ebebeb;
}

.dark .profile-panel-footer {
    background-color: @text-color-dark;
}
