.profile-details {
    height: 100%;
    padding: 30px 50px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;

    &__background-image {
        height: 200px;
        width: 400px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        &_default {
            background-color: #6c747f;
        }
    }

    &__avatar-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -70px;
    }

    &__follow-button {
        padding-right: 20px;
    }

    &__name-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0px;
    }

    &__name {
        font-size: 20px;
        font-weight: 400;
    }

    &__akashaid-wrapper {
        font-size: 14px;
        font-weight: 150;
    }

    &__akashaid {
        padding-bottom: 3px;
    }

    &__follow-info {
        padding-bottom: 7px;
    }

    &__about-wrapper {
        padding-bottom: 15px;
    }

    &__about-title {
        font-size: 16px;
        font-weight: 400;
    }

    &__about-info {
        font-size: 14px;
        font-weight: 200;
        word-wrap: break-word;
    }

    &__links-wrapper {
        padding-bottom: 15px;
    }

    &__links-title {
        font-size: 16px;
        font-weight: 400;
    }

    &__links-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 200;
    }

}