.search-input {
    height: 48px;
    width: 100%;
    border: 1px solid #eee;

    &__icon {
        flex: 0 0 auto;
        height: 42px;
        width: 42px;
    }

    &__input {
        flex: 1 1 auto;
        font-size: 18px;
        border: none;
        outline: none;
        height: 24px;
        line-height: 24px;
    }
}