.service-status-bar {
    display: flex;
    justify-content: flex-end;

    &__geth-icon {
        stroke: initial !important;
        polygon {
            fill: @text-color !important;
        }
        path {
            stroke: @text-color !important;
        }
    }

    &__ipfs-icon {
        stroke: initial !important;        
        fill: @text-color !important;
    }

    &__button {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}