.sidebar {
    width: 64px;
    position: fixed;
    left: -64px;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cccccc;
    transition: left 0.175s ease-in-out;
    will-change: left;
    max-width: 64px;
    background-color: #f3f3f3;
    padding-top: 24px;

    &__entry-icon {
        position: relative;
        text-align: center;
    }

    &__icon-button {
        font-size: 24px;
        padding: 0 12px;
        color: @text-color;
        &.active {
            background-color: @avatar-bg;
        }
    }

    &_shown {
        left: 0;
        transition: left 0.175s ease-in-out;
        will-change: left;
    }

    &__stream-icon {
        flex-grow: 4;
        padding: 14px
    }

    &__logo {
        flex-grow: 1;
        padding: 14px 8px;
        display: flex;
        align-items: flex-end;
    }
    &__entry-menu {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        padding: 0 14px;
        &-buttons {
            display: flex;
        }
        &_active {
            left: 64px;
            display: block;
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 100%;
        background: fadeout(@sidebar-overlay-bg, 20%);
        transition: right 0.213s ease-in-out;
        cursor: pointer;
        &_visible {
            right: 0;
            transition: right 0.213s ease-in-out;
        }
    }
}
