.sidebar-icon {
    &__wrapper {
        width: 32px;
        height: 32px;
        margin: 16px 0px;
        border-radius: 4px;

        &:hover {
            background-color: @light-background;            
        }

        &_active {
            background-color: @light-background;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        stroke: @text-color-secondary;

        &_active {
            stroke: @heading-color;
        }
    }
}