.sidebar-icon {
    &__wrapper {
        width: @sidebar-width / 2;
        border-radius: 4px;

        &:hover {
            background-color: @sidebar-icon-selected-bg;
        }

        &_active {
            background-color: @sidebar-icon-selected-bg;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        stroke: @text-color-secondary;

        &_active {
            stroke: @heading-color;
        }
    }
}
