.sidebar {
    width: @sidebar-width;
    position: fixed;
    left: @sidebar-width * -1;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: left 0.175s ease-in-out;
    will-change: left;
    max-width: @sidebar-width;
    background-color: @sidebar-background;

    &__top-icons {
        flex-grow: 4;
        padding: 16px;
    }

    &__avatar {
        padding-bottom: 16px;
    }

    &__popover {
        .ant-popover-inner-content {
            padding: 0;
        }
    }

    &__new-entry {
        position: relative;
        text-align: center;
    }

    &__new-entry-wrapper {
        width: 32px;
        height: 32px;
        background-color: @blue;
        border-radius: 4px;
    }

    &__new-entry-icon {
        stroke: @light-background;
    }

    &__profile-icon {
        width: 21px !important;
        height: 24px !important;
    }

    &_shown {
        left: 0;
        transition: left 0.175s ease-in-out;
        will-change: left;
    }

    &__logo {
        flex-grow: 1;
        padding: 14px 8px;
        display: flex;
        align-items: flex-end;
    }

    &__entry-menu {
        &-buttons {
            display: flex;
            list-style: none;
            padding-left: 0;
            &_wrapper {
                padding: 8px 24px;
                color: @grey;
                user-select: none;
                cursor: pointer;
                &:hover {
                    color: @text-color;
                   .ant-btn-entry-menu-button {
                       &:extend(.ant-btn-entry-menu-button:hover);
                   }
                }
                &-disabled {
                    cursor: not-allowed;
                    &:hover {
                        color: @grey;
                    }
                }
            }
            &_text {
                text-align: center;
            }
            &_draft-button {
                padding: 4px 8px;
                background: @background;
                cursor: pointer;
                &-icon {
                    vertical-align: middle;
                    margin-right: 8px;
                }
                &-label {
                    vertical-align: middle;
                    font-size: 12px;
                }
            }
        }
    }

    &__progress-wrapper {
        margin-bottom: 12px;
    }

    &__essence-progress {
        .ant-progress-circle-trail {
            stroke: @essence-color;
            opacity: 0.2;
        }
        .ant-progress-circle-path {
            stroke: @essence-color;
        }
    }

    &__karma-progress {
        .ant-progress-circle-trail {
            stroke: @karma-color;
            opacity: 0.2;
        }
        .ant-progress-circle-path {
            stroke: @karma-color;
        }
    }

    &__karma-icon {
        stroke: initial !important;
        fill: @karma-icon-color;
    }
}

.ant-btn-entry-menu-button {
    color: @grey;
    background-color: @light-background !important;
    font-size: 1.4em;
    height: 42px;
    width: 42px;
    opacity: 1;
    display: block;
    margin: 0 auto;
    &-disabled {
        font-size: 1.4em;
        height: 42px;
        width: 42px;
        margin: 0 auto;
        &:hover {
            color: initial;
        }
    }
    &:hover {
        color: @text-color-dark;
        background: @blue !important;
    }
}
