.svg-icon-root {
    display: inline-block;
    height: @svg-icon-height;
    width: @svg-icon-width;
    user-select: none;
    transition: @ease-out;
    fill: @text-color;
}

.dark .svg-icon-root {
    fill: @heading-color;
}
