// @tag-item-bg-color: #B4BCC8;
@tag-item-bg-color-should-register: @error-color;
@tag-item-bg-color-registering: @yellow;

.tag-editor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 700px;
    cursor: text;
    &__error-popover {
        padding: 8px;
    }
    &__error-popover-text {
        color: @error-color;
    }
    &__input {
        outline: none;
        background: transparent;
        border: none;
        min-width: 15%;
        padding: 2px 8px;
        &:disabled::-webkit-input-placeholder {
            color: #C8C8C8;
        }
    }
    &__tag-item {
        border-radius: 3px;
        background-color: @tag-default-bg;
        padding: 4px 8px;
        margin-right: 8px;
        margin-bottom: 8px;
        text-transform: uppercase;
        color: @heading-color;
        font-size: 12px;
        cursor: default;
        user-select: none;
        &:hover {
            background-color: lighten(@tag-default-bg, 5%);
        }
        &_should-register {
            background-color: @tag-item-bg-color-should-register;
            &:hover {
                background-color: lighten(@tag-item-bg-color-should-register, 5%);
            }
        }
        &_registering {
            background-color: @tag-item-bg-color-registering;
            &:hover {
                background-color: lighten(@tag-item-bg-color-registering, 5%);
            }
        }
    }
    .tag-item {
        &__delete-button {
            cursor: pointer;
            margin-left: 4px;
        }
        &__info-button {
            margin-left: 4px;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.16);

            svg {
                width: 8px;
                height: 8px;
                stroke: initial !important;
                fill: @heading-color;
            }
        }
    }
}
.tag-editor__suggestions-container {
    min-width: 125px;
    .ant-popover-inner-content {
        padding: 4px;
    }
}
.tag-editor__suggestion-item {
    padding: 4px 8px 4px 4px;
    border-radius: 3px;
    user-select: none;
    font-size: 13px;
    cursor: pointer;
    &:hover:not(&_selected) {
        background-color: @background;
    }
    &_selected {
        background-color: @dark-background;
    }
}
.tag-editor {
    &__tag-item-popover-content {
        max-width: 220px;
        font-size: 13px;
        font-weight: 500;
    }
    &__tag-item-popover-message {
        margin-bottom: 24px;
    }
    &__tag-item-popover-actions {
        text-align: right;
        .ant-btn {
            margin-left: 8px;
        }
        .ant-btn-sm {
            font-size: 13px;
        }
    }
}
