@tag-item-bg-color: #B4BCC8;
@tag-item-bg-color-should-register: #F96969;
@tag-item-bg-color-registering: #F5BD62;

.tag-editor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    &__input {
        outline: none;
        background: transparent;
        border: none;
        min-width: 15%;
        padding: 2px 8px;
    }
    &__tag-item {
        border-radius: 3px;
        background-color: @tag-item-bg-color;
        padding: 4px 8px;
        margin-right: 8px;
        margin-bottom: 8px;
        text-transform: uppercase;
        color: @text-color-dark;
        font-size: 12px;
        cursor: default;
        user-select: none;
        &:hover {
            background-color: lighten(@tag-item-bg-color, 5%);
        }
        &_should-register {
            background-color: @tag-item-bg-color-should-register;
            &:hover {
                background-color: lighten(@tag-item-bg-color-should-register, 5%);
            }
        }
        &_registering {
            background-color: @tag-item-bg-color-registering;
            &:hover {
                background-color: lighten(@tag-item-bg-color-registering, 5%);
            }
        }
    }
    .tag-item {
        &__delete-button {
            cursor: pointer;
            margin-left: 4px;
        }
    }
}
