.eth-wallet {
    padding-top: 24px;
    height: 100%;

    &__header {
        color: @heading-color;
        padding: 0px 24px 24px;
    }

    &__balance {
        font-size: 32px;
        margin-right: 12px;
    }

    &__sent-icon {
        color: @error-color;
        margin-right: 6px;
        font-size: 16px;
    }

    .ant-tabs {
        height: ~'calc(100% - 94px)';
    }

    .ant-tabs-tab {
        width: 50%;
    }
}
