.appbar-right-drawer {
    position: fixed;
    right: 0;
    top: @top-bar-height;
    bottom: 0;
    z-index: 1;
    &_open {
        box-shadow: -2px 0 15px -3px rgba(46,55,71,.3);
        z-index: 10;
        max-width: 50%;
    }
}
