.essence-popover {
    width: 320px;

    &__progress {
        .ant-progress-circle-trail {
            stroke: @essence-color;
            opacity: 0.2;
        }

        .ant-progress-circle-path {
            stroke: @essence-color;
        }
    }

    &__content {
        height: 330px;
        padding: 8px 24px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 18px;
        color: @heading-color;
        flex: 0 0 auto;
    }

    &__essence-score {
        color: @heading-color;
        font-weight: 600;
        padding-left: 10px;
    }

    &__chart-wrapper {
        flex: 0 0 auto;
    }

    &__actions {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__button {
        width: ~'calc(50% - 6px)';
        padding: 0px 8px;
    }
}