.essence-popover {
    width: 320px;

    &__progress {
        .ant-progress-circle-trail {
            stroke: @essence-color;
            opacity: 0.2;
        }

        .ant-progress-circle-path {
            stroke: @essence-color;
        }
    }

    &__content {
        height: 330px;
        padding: 42px 2px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__title {
        font-size: 18px;
        color: @heading-color;
        width: 100%;
        position: absolute;
        top: 4px;
        left: 0;
    }

    &__essence-score {
        color: @heading-color;
        font-weight: 600;
        padding-left: 10px;
    }

    &__logs {
        max-height: 100%;
        overflow-y: scroll;
    }

    &__actions {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        width: 100%;
        bottom: 4px;
        left: 0;
    }

    &__button {
        width: ~'calc(50% - 6px)';
        padding: 0px 8px;
    }
}
