.essence-popover {
    width: 320px;

    &__progress {
        height: 35px;
        width: 35px;

        .ant-progress-circle-trail {
            stroke: @essence-color;
            opacity: 0.2;
        }

        .ant-progress-circle-path {
            stroke: @essence-color;
        }
    }

    &__icon {
        stroke: initial !important;
    }

    .ant-popover-inner-content {
        padding: 0px;
    }
}
