.tag-popover {
    width: 220px;

    &_narrow {
        width: auto;
    }
    
    &__tag {
        margin-right: 6px;
        margin-bottom: 6px;

        .ant-tag-text {
            font-size: 12px;
        }
    }
}