.entry-page {

    &__comments {
        max-width: 700px;
        margin: 20px auto;
        background-color: white;
        padding: 20px;
        border-radius: 4px;
        border: 2px solid #eee;
    }

    &__comments-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: @text-color-secondary;
    }

    &__comments-title {
        color: @heading-color;
        font-size: 18px;
    }

    &__comment-icon {
        width: 18px;
        height: 18px;
        fill: @text-color-secondary;
        margin-left: 10px;
    }

    &__new-comments-wrapper {
        position: relative;
        width: 100%;
        z-index: 2;
        color: @primary-color;
    }

    &__new-comments {
        background-color: #fff;
        border-radius: 6px;
        position: absolute;
        left: 50%;
        padding: 0px 4px;
    }

    &__button-wrapper {
        &_fixed {
            position: fixed;
            left: 64px;
            right: 6px;
            top: 54px;
        }

        &_absolute {
            position: absolute;
            margin: 0 auto;
            top: 0px;
            width: 100%;
        }
    }
}