.entry-actions {
    padding-top: 6px;
    max-width: 700px;
    margin: 0 auto;
    color: @text-color-secondary;

    &_own-entry {
        display: flex;
    }

    &__info {
        flex: 1 1 auto;
        font-size: 13px;     
        margin-top: 6px;

        &_full {
            font-size: 15px;
        }
    }

    &__info-text {
        margin-bottom: 2px;

        &_can-claim {
            color: @success-color;
        }

        &_cannot-claim {
            color: @error-color;
        }
    }

    &__separator {
        margin: 0px 5px;
    }

    &__collect-button {
        color: @primary-color;
        text-decoration: underline;
        font-weight: 400;
        height: 19px;

        &_disabled {
            color: @text-color-secondary;
            cursor: not-allowed;
        }

        .ant-spin {
            margin-right: 6px;
        }
    }

    &__actions {
        flex: 0 0 auto;
        display: flex;
    }

    &__comments {
        margin: 0px 16px;
    }

    &__comments-counter {
        font-size: 15px;
        margin-right: 5px;
        margin-left: 12px;
    }

    &__vote-wrapper {
        position: relative;
    }

    &__vote-icon {
        font-size: 20px;
    }

    &__score {
        min-width: 36px;
        font-size: 15px;
        padding: 0 5px;
        letter-spacing: 1.8px;
    }

    &__vote-bar {
        height: 2px;
        padding: 4px 0px;
    }

    &__downvote-bar {
        height: 2px;
        background-color: @error-color;                    
    }

    &__upvote-bar {
        height: 2px;
        background-color: @success-color;
    }

    &__right-actions {
        flex: 1 1 auto;
        text-align: right;
    }

    &__balance-container {
        display: flex;
        justify-content: flex-end;
        align-items: center
    }

    &__balance {
        font-size: 16px;
        padding-right: 5px;
    }

    &__claim-icon {
        width: 24px;
        height: 24px;

        &_claimed {
            fill: @success-color;
        }
    }

    &__info-icon {
        margin-left: 6px;
        height: 12px;
        width: 12px;        
        cursor: default;
        stroke: initial !important;
    }

    &__comment-icon {
        width: 16px;
        height: 16px;
        stroke: @text-color-secondary !important;
    }
}