.entry-page-content {

    &__title {
        max-width: 700px;
        display: block;
        margin: 0 auto 20px auto;
        font-size: 32px;
        font-weight: 500;
        word-wrap: break-word;
    }

    &__content {
        margin: 0 auto;
        font-weight: 300;
        padding: 0px 0px 8px;
        padding-left: 7px;
    }

    &__info {
        clear: left;
        max-width: 700px;
        margin: 0 auto;
        padding: 12px 0px;
    }

    &__license-wrapper {
        display: inline-flex;
    }

    &__license-icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        fill: @text-color;
    }
}