.logs-list {
    list-style: none;
    overflow-y: auto;
    word-wrap: break-word;
    padding: 16px 0px 16px 4px;

    &_modal {
        height: 100%;
        overflow-y: auto;
        padding: 16px;
    }

    &__list-item {
        margin-bottom: 16px;
    }

    &__list-item-header {
        display: flex;
        color: @text-color-secondary;
        text-transform: uppercase;
        font-size: 13px;
    }

    &__log-level {
        flex: 0 0 auto;
    }

    &__timestamp {
        flex: 1 1 auto;
        text-align: right;
    }

    &__message {
        margin-top: 6px;
        color: @logs-color;
    }
}