// general overwrites for antd(applied for all themes)
// @primary-color: #000000;

@font-size-base: 15px;
@input-height-lg: 36px;
@border-radius-base: 2px;

@avatar-size-lg: 48px;
@avatar-border-radius: 4px;
@avatar-bg: #4D5D69;
@avatar-editor-bg: #DEDEDE;

.ant-btn-lg {
    font-weight: 400;
    font-size: 15px;
}

.ant-tooltip-inner {
    font-size: 13px;
}
