// define specific vars for akasha
@svg-icon-height: 24px;
@svg-icon-width: 24px;
@lighter-color: white;
@top-bar-height: 40px;
// This color is also used in JS code. keep them in sync. search for manaColor
@mana-color: #4aadf3;
@essence-color: #02c79a;
@karma-color: #930f94;

@sidebar-width: 64px;
@secondary-sidebar-width: 200px;
@text-editor-width: 700px;
@editor-footer-height: 64px;
@editor-title-input-height: 72px;
.heading {
    color: @heading-color;
    font-weight: 500;
}

.input-error {
    font-size: 13px;
}
