// general overwrites for antd(applied for all themes)
// @primary-color: #000000;

@font-size-base: 15px;

.ant-btn-lg {
    font-weight: 400;
    font-size: 15px;
}

.ant-tooltip-inner {
    font-size: 13px;
}
