// define specific vars for akasha
@svg-icon-height: 24px;
@svg-icon-width: 24px;
@lighter-color: white;
@top-bar-height: 40px;

// colors
@dark: #2E3747;
@dark-grey: #778390;
@grey: #B4BCC8;
@light-grey: #D8DCDF;
@background: #F8F8F8;
@light-background: #fff;
@dark-background: #EFEFF1;
@blue: #0598FF;
@red: #F96A6A;
@green: #7ACC80;
@yellow: #FFC02F;
@dark-blue: #0588E6;
@dark-red: #E66363;
@light-border: #eee;
@dark-border: #d9d9d9;

// This color is also used in JS code. keep them in sync. search for manaColor
@mana-color: #3DBEFF;
@essence-color: #4BCDC4;
@karma-color: #9C55CB;
@karma-icon-color: #AB5FCF;

@sidebar-width: 64px;
@secondary-sidebar-width: 200px;
@text-editor-width: 700px;
@editor-footer-height: 64px;
@editor-title-input-height: 72px;

@border-tab: #f1f1f1;
@card-bg-color: @light-background;

.heading {
    color: @heading-color;
    font-weight: 500;
}

.dark-icon {
    stroke: @heading-color !important;
}

.content-placeholder {
    background-color: @placeholder-color;
}

.input-error {
    font-size: 13px;
}

.content-link {
    cursor: pointer;
    &:hover {
        filter: brightness(@content-link-brightness);
    }
}

.capitalize {
    text-transform: capitalize;
}

.question-circle-icon {
    stroke: initial !important;
    circle {
        fill: @question-circle-bg !important;
    }
    path {
        fill: @question-circle
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0px 3px 0px 0px @light-background, 0 -3px 0 0 @light-background;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 3px;
    background: @scrollbar-active;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: @scrollbar-inactive;
}
