@avatar-bg: #4D5D69;

// colors
@dark: #fff;

// image uploader
@image-uploader-bg: #f7f7f7;

// avatar editor
@avatar-editor-bg: #f7f7f7;

@page-bg: #f8f8f8;

@heading-color: #f8f8f8;
@text-color: #8B8F94;
@text-color-dark: #0E1012;
@text-color-secondary: #272B2E;
@success-color: @green;
@error-color: @red;
@border-color: @light-border;
@primary-color: @blue;
