@content-link-brightness: 150%;


@avatar-bg: #4D5D69;

// image uploader
@image-uploader-bg: #f7f7f7;

// avatar editor
@avatar-editor-bg: #f7f7f7;

@page-bg: #f8f8f8;

@heading-color: #F8F8F8;
@text-color: #8B8F94;
@text-color-dark: #FFF;
@text-color-secondary: #4B555E;
@success-color: @green;
@error-color: @red;
@primary-color: @blue;
@overlay-color: fade(#000, 80%);

// background
@light-background: #181C1F;
@background: #131517;
@dark-background: #0E1012;
@page-bg: @background;
@tabs-inactive-bg: @dark-background;

// borders
@border-color: #272B2E;
@border-color-split: #1A1E21;
@light-border: #282F33;
@radio-border-color: #4B555E;
@checkbox-border-color: #4B555E;
@button-border-color: #4B555E;

//karma-popover
@karma-card-bg: #131517;
@karma-card-bg-reverse: #0E1012;
@karma-card-content: @text-color;

//profile-edit
@opacity-bg-color: #272B2E;
@opacity-bg: 0.8;

// sidebar
@sidebar-background: #0E1012;
@sidebar-icon-selected-bg: #272B2E;

// topbar
@top-bar-icon: @text-color;

// scrollbar
@scrollbar-active: #272B2E;
@scrollbar-inactive: fade(@light-background, 70%);

// entry card
@entry-excerpt: @text-color;

// question circle icon
@question-circle-bg: @text-color-secondary;
@question-circle: @text-color;

// logs
@logs-color: @text-color;

@item-selected-bg: @dark-background;

// placeholders
@placeholder-color: #272B2E;

// radio button
@radio-disabled-bg: @border-color;

// input number
@input-number-handler-bg: @dark-background;

// antd variables
@component-background: @light-background;
@border-color-base: @border-color;
@shadow-color: rgba(14, 16, 18, 1);
@popover-bg: #1A1E21;
@tooltip-bg: #272B2E;
@tooltip-color: @heading-color;
@card-head-background: @light-background;
@tag-default-bg: #272B2E;
@input-color: @text-color;
@input-bg: #0E1012;
@input-border-color: @border-color;
@input-disabled-bg: @light-background;
@item-active-bg: @background;
@item-hover-bg: @background;
@checkbox-bg: @light-background;
@radio-button-bg: @light-background;
@progress-remaining-color: @border-color;
@btn-disable-color: @text-color-secondary;
@btn-disable-bg: @light-background;
@btn-default-border: @button-border-color;
@slider-rail-color: @border-color;
@timeline-color: @border-color;

// images
@cycling-empty-state-bg: url("../../images/placeholders/cycling-empty-state-darktheme.png");
@history-empty-state-bg: url('../../images/placeholders/history-empty-state-darktheme.png');
@essence-collect-empty-state-bg: url('../../images/placeholders/no-essence-empty-state-darktheme.png');
@no-essence-collected-state-bg: url('../../images/placeholders/no-essence-collected-empty-state-darktheme.png');
@search-entry-list-placeholder-bg: url('../../images/placeholders/no-entries-placeholder-darktheme.png');
@search-profile-list-placeholder-bg: url('../../images/placeholders/no-people-placeholder-darktheme.png');
@search-tag-list-placeholder-bg: url('../../images/placeholders/no-tag-placeholder-darktheme.png');
