// just for test
// @primary-color: purple;
@avatar-bg: #4D5D69;

// image uploader
@image-uploader-bg: #f7f7f7;

// avatar editor
@avatar-editor-bg: #f7f7f7;

@page-bg: #f8f8f8;


// colors
@heading-color: @dark;
@text-color: @dark-grey;
@text-color-dark: @light-background;
@text-color-secondary: @grey;
@success-color: @green;
@error-color: @red;
@border-color: @light-border;
@primary-color: @blue;

@lighter-color: @dark-grey;
