@content-link-brightness: 80%;

// just for test
// @primary-color: purple;
@avatar-bg: #4D5D69;

// image uploader
@image-uploader-bg: #f7f7f7;

// avatar editor
@avatar-editor-bg: #f7f7f7;

// colors
@heading-color: #2E3747;
@text-color: #778390;
@text-color-dark: #fff;
@text-color-secondary: #B4BCC8;
@success-color: @green;
@error-color: @red;
@primary-color: @blue;

@overlay-color: fade(@dark, 50%);
@lighter-color: @dark-grey;

// background
@light-background: #FFF;
@background: #F8F8F8;
@dark-background: #EFEFF1;
@page-bg: @light-background;
@tabs-inactive-bg: @background;

// borders
@border-color: #eee;
@radio-border-color: @border-color-base;
@checkbox-border-color: @border-color-base;

//karma-popover
@karma-card-bg: @light-background;
@karma-card-bg-reverse: @background;
@karma-card-content: @heading-color;

//profile-edit
@opacity-bg-color: #2E3747;
@opacity-bg: 0.5;

//sidebar
@sidebar-background: #EFEFF1;
@sidebar-icon-selected-bg: #FFF;

// topbar
@top-bar-icon: @heading-color;

// scrollbar
@scrollbar-active: #D8DCDF;
@scrollbar-inactive: fade(@dark-background, 70%);

// entry card
@entry-excerpt: @heading-color;
@entry-card-highlight-color: #F5FBFF;

// question circle icon
@question-circle-bg: #D8DCDF;
@question-circle: @light-background;

// logs
@logs-color: @heading-color;

@item-selected-bg: @background-color-light;

// placeholders
@placeholder-color: @background;

// radio button
@radio-disabled-bg: #ccc;

// input number
@input-number-handler-bg: #f4f4f4;

// lazy image loader
@lazy-image-loader-bg: #f7f7f7;
@lazy-image-loader-border: #EFEFF1;
@lazy-image-loader-text: #B4BCC8;

// antd variables
@shadow-color: rgba(46, 55, 71, 0.3);
@tag-default-bg: #EEE;
@input-color: @heading-color;
@input-border-color: #D8DCDF;
@checkbox-bg: @light-background;
@radio-button-bg: @light-background;
@slider-rail-color: @background-color-base;

// images
@cycling-empty-state-bg: url("../../images/placeholders/cycling-empty-state.png");
@history-empty-state-bg: url('../../images/placeholders/history-empty-state.png');
@essence-collect-empty-state-bg: url('../../images/placeholders/no-essence-empty-state.png');
@no-essence-collected-state-bg: url('../../images/placeholders/no-essence-collected-empty-state.png');
@search-entry-list-placeholder-bg: url('../../images/placeholders/no-entries-placeholder.png');
@search-profile-list-placeholder-bg: url('../../images/placeholders/no-people-placeholder.png');
@search-tag-list-placeholder-bg: url('../../images/placeholders/no-tag-placeholder.png');
@no-comments-placeholder-bg: url('../../images/placeholders/first-comment-lighttheme.png');
@entry-list-card-placeholder-bg: url('../../images/placeholders/no-entries-column-placeholder-lighttheme.png');
@entry-list-profile-placeholder-bg: url('../../images/placeholders/no-profile-placeholder-lighttheme.png');
@column-drag-preview-image: url('../../images/placeholders/column-drag-preview.png');
@no-column-placeholder-bg: url("../../images/placeholders/no-column-placeholder-LightTheme.png");
