// just for test
// @primary-color: purple;
@avatar-bg: #4D5D69;

// image uploader
@image-uploader-bg: #f7f7f7;

// avatar editor
@avatar-editor-bg: #f7f7f7;

@page-bg: #f8f8f8;

@secondary-sidebar-bg: #F5F5F5;
// sidebar
@sidebar-overlay-bg: #fff;
@dark: #2E3747;
@dark-grey: #778390;
@grey: #B4BCC8;
@light-grey: #D8DCDF;
@background: #F8F8F8;

@lighter-color: @dark-grey;
