// values: ['default', 'dark']

@import "~antd/dist/antd.less";
@import "akasha-ant-@{theme}";
@import '~draft-js-emoji-plugin/lib/plugin.css';
@import '~draft-js-image-plugin/lib/plugin.css';

// emoji-plugin css overwrite
.draftJsEmojiPlugin__emojiSelectButton__3sPol, .draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu {
    border: none;
    background: transparent;
    width: 1.5em;
}
