.appbar-layout {
    position: fixed;
    right: 0;
    padding-left: ~'calc(@{sidebar-width} + 1.429em)';
    padding-right: 1.429em;
    height: @top-bar-height;
    transition: left 0.218s @ease-in-out;
    background-color: @light-background;
    border-bottom: 1px solid @light-border;
    z-index: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    &_top {
        top: 0;
    }
    &_left-slot,
    &_right-slot {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center;
    }
    &_left-slot {
        justify-content: flex-start;
    }
    &_right-slot {
        justify-content: flex-end;
    }
    &_right-slot {
        .notification-icon {
            cursor: pointer;
            width: 20px;
            height: 20px;
            stroke: @text-color;
            &_active {
                stroke: @heading-color;
            }
        }
        .appbar {
            &-balance {
                display: flex;
                user-select: none;
                padding: 0 0.75rem;
                .balance:first-child {
                    margin-right: 12px;
                }
            }
        }
    }
}

.appbar {
    &-right-panel {
        position: fixed;
        top: @top-bar-height;
        bottom: 0;
        right: 0;
        background-color: @light-background;
        box-shadow: -2px 0px 15px -3px @shadow-color;
        z-index: 2;
        .eth-panel,
        .aeth-panel {
            width: @wallet-panel-width
        }
    }
}
