.dashboard-top-bar {
    height: 100%;

    &__navigation {
        flex: 0 0 auto;
        width: 50px;
        display: flex;
        justify-content: space-around;
        border-right: 1px solid #e5e5e5;
        height: 100%;
        margin-right: 12px;
    }

    &__column-icon {
        flex: 0 0 auto;
        width: 22px;
        height: 22px;
        margin-right: 5px;
    }

    &__add-icon {
        font-size: 18px;
        color: @text-color-secondary;
    }
}