.dashboard-top-bar {
    height: 100%;

    &__column-icon {
        flex: 0 0 auto;
        width: 16px;
        height: 16px;
        padding: 0;
        margin-right: 8px;
        stroke: @top-bar-icon !important;
    }

    &__add-icon {
        font-size: 18px;
        color: @text-color-secondary;
    }
}
