.dashboard-top-bar-icon {
    font-size: 25;
    font-weight: bold;
    cursor: pointer;
    line-height: 0;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-color: @dark-background;
    border-radius: 3px;
    opacity: 1;

    &_dragging {
        opacity: 0.2;
    }
}