.navigation {
    flex: 0 0 auto;
    width: 84px;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid @light-border;
    height: 100%;
    margin-right: 12px;

    &__icon {
        stroke: @top-bar-icon !important;

        &_disabled {
            stroke-opacity: 0.3 !important;
        }
    }

    &__link-icon {
        margin-right: 6px;
        stroke: @text-color !important;
    }
}