.profile-page-top-bar {
    height: 100%;

    &__column-icon {
        flex: 0 0 auto;
        width: 22px;
        height: 22px;
        padding: 2px;
        margin-right: 5px;
        stroke: @heading-color !important;
    }
}