.top-bar {
    position: fixed;
    right: 0;
    top: 0;
    height: @top-bar-height;
    transition: left 0.218s @ease-in-out;
    background-color: @light-background;
    border-bottom: 1px solid @light-border;

    &_default {
        left: @sidebar-width + @secondary-sidebar-width;
    }
    &_full {
        left: @sidebar-width;
    }
    &_collapsed {
        left: @sidebar-width;
    }
    &__left-side {
        flex: 1 1 auto;
        height: 100%;
    }
}
