.loader {
    width: 100%;
    height: 100%;
}
.root {}
.entry_page_inner {
    margin: 0 auto;
}
.entry_infos {
    max-width: 700px;
    margin: 0 auto;
}
.comment_writer {
    padding: 16px 0;
}
.avatar_image,
.comment_editor {
    display: inline-block;
}
.avatar_image {
    vertical-align: top;
}
.comment_publish_actions {
    margin-top: 8px;
}
.comment_editor {
    width: 636px;
    margin-left: 16px;
    vertical-align: middle;
    border: 1px solid #DDD;
    padding: 0 8px;
    :global {
        .megadraft {
            .megadraft-editor {
                .paragraph {
                    width: 100%;
                }
            }
        }
        .megadraft-editor .public-DraftEditorPlaceholder-root {
            line-height: 32px;
        }
    }
}
