.loader {
    width: 100%;
    height: 100%;
}
.root {}
.entry_page_inner {
    margin: 0 auto;
}
.content_section {
    z-index: 10;
    position: relative;
}
.entry_infos {
    max-width: 700px;
    margin: 0 auto;
}
.entry_tags {
    padding-top: 15px;
}
.comments_section {
    padding-bottom: 92px;
}