.content_inner {
    padding-top: 64px;
}
.entry_title {
    max-width: 700px;
    display: block;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 400;
    padding-top: 48px;
    word-wrap: break-word;
}
.entry_content {
    margin: 0 auto;
    font-weight: 300;
    padding: 0;
    padding-left: 7px;
}