.entry_publisher_info {
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 20;
    left: 64px;
    right: 0;
    &_inner {
        max-width: 752px;
        margin: 0 auto;
        transition: box-shadow 0.215s ease-in-out;
    }
}