.loader {
    width: 100%;
    height: 100%;
}
.root {}
.entry_page_inner {
    margin: 0 auto;
}
.entry_publisher_info {
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 5;
    left: 64px;
    right: 0;
    &_inner {
        max-width: 752px;
        margin: 0 auto;
        transition: box-shadow 0.215s ease-in-out;
    }
}
.entry_title {
    max-width: 700px;
    display: block;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 400;
    padding-top: 48px;
}
.entry_content {
    margin: 0 auto;
    font-weight: 300;
    padding: 0;
    padding-left: 7px;
}
.entry_infos {
    max-width: 700px;
    margin: 0 auto;
}
.content_inner {
    padding-top: 64px;
}
.comment_writer {
    padding: 16px 0;
}
.avatar_image,
.comment_editor {
    display: inline-block;
}
.avatar_image {
    vertical-align: top;
}
.comment_publish_actions {
    margin-top: 8px;
}
.comment_editor {
    width: 636px;
    margin-left: 16px;
    vertical-align: middle;
    border: 1px solid #DDD;
    padding: 0 8px;
    :global {
        .megadraft {
            .megadraft-editor {
                .paragraph {
                    width: 100%;
                }
            }
        }
        .megadraft-editor .public-DraftEditorPlaceholder-root {
            line-height: 32px;
        }
    }
}
