.root {
    z-index: 10;
    position: relative;
    height: 100%;
    padding: 0 !important;
}
.panelContent {
    transition: top 0.118s ease-in-out;
    padding: 0;
}
.panelContentInner {
    height: 100%;
    margin-right: 6px;
    margin-left: 0;
    padding: 0 24px;
    overflow-y: auto;
    overflow-x: hidden;
}