.root {
    position: fixed;
    right: 0;
    top: 0;
    height: 50px;
    padding: 10px 20px;
}

.full {
    left: 64px;
}

.normal {
    left: 264px;
}

.inner {
    flex: 1 1 auto;
}

.panelWrapper {
    position: fixed;
    top: 50px;
    right: -64px;
    bottom: 0;
    transition: right, width 150ms ease-in-out;
    overflow: hidden;
    max-width: 64% !important;
    will-change: right, width;
    z-index: 20;
    width: 0;
    &.open {
        right: 0;
        width: 100%;
    }
}

.open {
    transition: right, width 150ms ease-in-out;
    will-change: right, width;
}

.panelWrapperOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(75, 91, 103, 0.89);
    z-index: 999;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.218s ease-in-out;
}

.overlayVisible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.218s ease-in-out;
}
