.breadcrumbs {
    height: 100%;

    &__part {
        color: @disabled-color;
    
        &_last {
            font-weight: 600;
            color: @heading-color;
        }
    }

    &__separator {
        cursor: default;
        color: @disabled-color;
        margin: 0px 10px;
    }
}