.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 50%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    text-transform: lowercase;
    padding: 20px;    
}

.services {
    width: 50%;
    height: 100%;
    padding: 20px;        
}