.entry-column-placeholder {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 100%;
    &-inner {
        width: 100%;
    }
    &-image {
        background: @search-entry-list-placeholder-bg top center no-repeat;
        height: 153px;
        width: 100%;
        flex-grow: 1;
    }
    &-text {
        text-align: center;
        width: 100%;
        margin-top: 16px;
    }
}

.profile-column-placeholder {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 100%;
    &-inner {
        width: 100%;
    }
    &-image {
        background: @search-profile-list-placeholder-bg top center no-repeat;
        height: 227px;
        width: 100%;
        flex-grow: 100%;
    }
    &-text {
        text-align: center;
    }
}
