.column-header {
    flex: 0 0 auto;
    height: 50px;
    width: 100%;
    padding: 0px 6px;

    &__menu-icon {
        font-size: 18px;
    }

    &__title-wrapper {
        flex: 1 1 auto;
    }

    &__title {
        color: @heading-color;
        font-weight: 500;
    }
}