.column-header {
    flex: 0 0 auto;
    height: 50px;
    width: 100%;
    padding: 0px 6px;

    &__icon {
        flex: 0 0 auto;
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    &__menu-icon {
        height: 18px;
        width: 22px;
        padding: 4px;
        fill: @heading-color;
        stroke: initial !important;
    }

    &__title-wrapper {
        flex: 1 1 auto;
        max-width: ~'calc(100% - 52px)';

        &_no-icon {
            max-width: 100%;
        }
    }

    &__title {
        color: @heading-color;
        font-weight: 500;
        cursor: default;
        max-width: 290px;

        &_large {
            max-width: 470px;
        }
    }

    &__auto-complete {
        background-color: transparent;
        width: 100%;

        .ant-select-selection {
            background-color: transparent;
        }
    }

    &__select {
        width: 100%;
        background-color: transparent;
        color: @heading-color;
        font-weight: 500;
        
        .ant-select-selection.ant-select-selection--single {
            background-color: transparent;
        }
    }

    &__input {
        border: none;
        outline: none;
        background-color: transparent;
        color: @heading-color;
        font-weight: 500;
        position: relative;
        top: 1px;
    }

    &__reset-icon {
        width: 22px;
        height: 22px;
        padding: 4px;
        color: @heading-color;
    }
}