.new-column {
    flex: 0 0 auto;
    width: 380px;
    padding-right: 20px;
    height: ~'calc(100% - 20px)';

    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 1px @text-color-secondary dashed;
        border-radius: 4px;
    }
    
    &__placeholder {
        height: 100%;
        width: 100%;
        font-weight: 500;
        color: @text-color-secondary;
    }

    &__header {
        flex: 0 0 auto;
        height: 70px;    
        padding: 0px 16px;
    }

    &__title {
        height: 50px;
        color: @heading-color;
        font-weight: 500;
    }

    &__subtitle {
        font-size: 13px;
        color: @text-color-secondary;
        margin-top: -8px;
    }

    &__content {
        position: relative;
        flex: 1 1 auto;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
    }

    &__list {
        padding: 0px 6px;
        flex: 1 1 auto;
    }

    &__list-item {
        height: 42px;
        border-radius: 4px;
        padding: 10px;
        color: @heading-color;
        cursor: pointer;
        &:hover:not(&_active) {
            background-color: @background;
        }
        &_active {
            background-color: @dark-background;
            font-weight: 500;
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    &__actions {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        padding: 16px;
    }

    &__button {
        margin-left: 12px;
    }
}
