.new-tag-column {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__search-wrapper {
        flex: 0 0 auto;
        padding: 0px 16px;
        margin-bottom: 16px;
    }

    &__search-icon-wrapper {
        height: 36px;
        width: 42px;
        border-left: 1px solid #f3f3f3;
    }

    &__auto-complete {
        width: 100%;
    }

    &__preview-title {
        flex: 0 0 auto;
        height: 32px;
        color: @heading-color;
        font-weight: 500;
        padding: 0px 16px;
    }

    &__list-wrapper {
        flex: 1 1 auto;
        height: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        display: flex;
        flex-direction: column;
        padding-right: 3px;
        background-color: #f7f7f7;
    }
}