.title {
    width: 100%;
    margin: 24px 0;
}

.titleInner {
    width: 700px;
    margin: 0 auto;
    .inputField {
        font-size: 36px;
        line-height: 1.2;
    }
}
.inputField {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 600;
    resize: none;
}