.tag-list {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: @background;
    
    &__placeholder {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: @text-color-secondary;
    }
}