.tag-list {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: @background;

    &__placeholder {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: @text-color-secondary;
        &-inner {
            width: 100%;
            height: 100%;
            padding-top: 40px;
        }
        &_image {
            background: @search-tag-list-placeholder-bg top center no-repeat;
            height: 179px;
            width: 100%;
            flex-grow: 1;
        }
        &_text {
            width: 100%;
            flex-grow: 1;
            text-align: center;
            margin-top: 1.2em
        }
    }
}
