.tag-list-interests {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    margin: 15px 0px;
    background-color: #fff;
    border-radius: 4px;
    
    &__no-tags {
        display: flex;
        justify-content: center;
        color: #999999;
        padding-top: 10px;
    }

    &__tag-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px outset lightgrey;
        padding: 15px 0px;
        margin: 0px 15px;

        &_last {
            border-bottom: none;
        }
    }

    &__tag-list-item-text-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__tag-list-tag-name {
        font-size: 13px;
        font-weight: bold;
    }

    &__tag-list-entry-count {
        font-size: 12px;
        font-weight: 150;
    }

    &__tag-list-switch {
        padding-right: 15px;
    }

}