.dashboard-secondary-sidebar {
    height: 100%;
    padding: 10px 10px 0px;
    background-color: @light-background;

    &__title {
        padding: 0px 8px;
        height: 24px;
        line-height: 24px;        
        text-transform: uppercase;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__icon-wrapper {
        height: 18px;
        width: 18px;
        background-color: darken(@background, 5%);
        border-radius: 2px;
    }

    &__list {
        height: ~'calc(100% - 48px)';
        overflow-y: auto;
        margin-right: -10px;
        padding-bottom: 10px;
    }

    &__row {
        height: 42px;
        border-radius: 4px;
        padding: 8px;
        width: 179px;
        cursor: pointer;
        &:hover:not(&_active) {
            background-color: @background;
        }
        &_hovered:not(&_active) {
            background-color: @background;            
        }
        &_active {
            color: @heading-color;
            font-weight: 500;            
            background-color: @dark-background;
        }
        &_input {
            cursor: default;
        }
    }

    &__input {
        border: none;
        outline: none;
        background-color: transparent;
    }

    &__name {
        flex: 1 1 auto;
        max-width: 145px;
        display: inline-block;
    }

    &__menu-icon {
        flex: 0 0 auto;
        height: 16px;
        width: 22px;
        padding-right: 6px;
        stroke: initial !important;
    }

    &__popover-content {
        width: 90px;
    }
}
