.dashboard-secondary-sidebar {
    height: 100%;
    padding: 8px;

    &__title {
        padding: 0px 8px;
        height: 24px;
        text-transform: uppercase;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__add-icon {
        font-size: 18px;
        color: @text-color-secondary;
    }

    &__row {
        height: 42px;
        border-radius: 4px;
        padding: 8px;
        cursor: pointer;
        &:hover {
            background-color: #f5f5f5
        }
        &_active {
            color: @heading-color;
            background-color: #efefef;
            font-weight: 500;
        }
        &_input {
            cursor: default;
        }
    }

    &__input {
        border: none;
        outline: none;
        background-color: transparent;
    }

    &__name {
        flex: 1 1 auto;
        max-width: 145px;
        display: inline-block;
    }

    &__menu-icon {
        flex: 0 0 auto;
        width: 22px;
        transform: rotate(90deg);
    }

    &__popover-content {
        width: 90px;
    }
}
