.profile-overview-sidebar {
    height: 100%;
    background-color: white;

    &__title {
        padding: 15px 0 30px 20px;
        font-size: 13px;
    }

    &__menu {
        padding: 10px;
    }

    &__line {
        border-top: 1px outset lightgray;
    }

    &__line-wrapper {
        padding-left: 20px;
    }

    &__logout-wrapper {
        padding: 10px;
    }

    &__logout {       
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: #f7f7f7
        }
    }

    &__link {
        text-decoration: none;
    }

    &__link-title {
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: #f5f5f5
        }
        &_active {
            color: @heading-color;
            background-color: #efefef;
        }
    }
}

a.profile-overview-sidebar__link {
    text-decoration: none;
    color: #919191;
}