.search-secondary-sidebar {

    &__search {
        display: flex;
        align-items: center;
    }

    &__input {
        border: none;
        background-color: transparent;
        outline: none;
    }
}
