.secondary-sidebar {
    position: fixed;
    left: 64px;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px #ddd solid;
    transition: left 0.218s @ease-in-out;
    &_collapsed {
        left: -264px;
    }
}
