.secondary-sidebar {
    position: fixed;
    left: (@sidebar-width + @secondary-sidebar-width) * -1;
    top: 0;
    bottom: 0;
    width: @secondary-sidebar-width;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px #ddd solid;
    transition: left 0.218s @ease-in-out;
    z-index: 3;
    // TODO remove this
    // background-color: #555;

    &_open {
        left: @sidebar-width;
    }
}
