.highlight-edit-panel {
    padding: 30px 100px;
    height: ~'calc(100% - 52px)';
    display: flex;
    flex-direction: column;

    &__header {
        flex: 0 0 auto;
    }

    &__content {
        flex: 0 0 auto;
        padding: 20px 0px 20px 42px;
        font-style: italic;
        font-size: 17px;
    }

    &__notes {
        flex: 0 0 auto;
        margin-top: 30px;
    }

    &__textarea {
        resize: none;
    }

    &__actions {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__button {
        margin-left: 15px;
    }
}