.transaction-log {
    margin-left: 5px;
    font-size: 13px;

    &__link {
        font-size: 11px;

        &:hover {
            color: @primary-color !important;
        }
    }

    &__link-icon {
        display: inline-block !important;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        stroke: @primary-color;
    }

    &__highlight {
        margin-left: 5px;
        color: @heading-color;
        font-weight: 500;
    }
}