.user-settings-panel {
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__form {
        padding-top: 30px;
        flex: 1 1 auto;
    }

    &__actions {
        height: 100px;
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}