.wallet-panel {
    position: fixed;
    top: 40px;
    bottom: 0px;
    right: 0px;
    width: 480px;
    background-color: #fff;
    box-shadow: -2px 0px 15px -3px #ccc;

    .ant-tabs-nav {
        width: 100%;
    }

    .ant-tabs-content {
        height: ~'calc(100% - 40px)';
    }

    .ant-tabs-tabpane {
        height: 100%;
    }

    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
        height: 40px;
        font-size: 13px;
    }

    .ant-tabs-bar {
        height: 40px;
    }

    .ant-tabs-tab {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
        background: #fff;
    }

    .ant-tabs-card > .ant-tabs-bar {
        border-color: #fff;
    }

    .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        background: #f8f8f8;
        border-color: transparent;
        height: 39px;
    }

    .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        border-color: #fff;
        background: #fff;
        height: 40px;
    }
}