
.wallet-panel {
    position: fixed;
    top: 40px;
    bottom: 0px;
    right: 0px;
    width: 480px;
    background-color: @light-background;
    box-shadow: -2px 0px 15px -3px @grey;

    .ant-tabs-nav {
        width: 100%;
    }

    .ant-tabs-nav-wrap {
        border-top: 1px solid @border-tab;
    }

    .ant-tabs-content {
        height: ~'calc(100% - 40px)';
    }

    .ant-tabs-tabpane {
        height: 100%;
    }

    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
        height: 40px;
        font-size: 13px;
    }

    .ant-tabs-bar {
        height: 40px;
    }

    .ant-tabs-tab {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
        background: @light-background;
    }

    .ant-tabs-card > .ant-tabs-bar {
        border-color: @light-background;
    }

    .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        background: @background;
        border-color: transparent;
        height: 39px;
        margin-right: 0;
        border-right: 1px solid @border-tab;
        border-bottom: 1px solid @border-tab;
        color: @text-color-secondary;
    }

    .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        border-bottom: 1px solid @light-background;
        background: @light-background;
        height: 40px;
        color: @heading-color;
    }
}
