.login-form {
    overflow: hidden;

    &__buttons-wrapper {
        margin-top: 12px;
        display: flex;
        justify-content: flex-end;
        height: 32px;
    }

    &__button {
        margin-left: 15px;
    }

    &__form-item {
        margin-top: -22px;
    }
    &__warning {
        color: @error-color;
        margin-top: 5px;
        font-size: 0.85em;
        i {
            margin-right: 5px;
            vertical-align: middle;
            font-size: 1.3em;
        }
    }
    .ant-form-item {
        margin-bottom: 0px;
    }

    .ant-form-item-control {
        line-height: 16px;
    }

    .ant-form-explain {
        position: absolute;
        bottom: 0px;
    }

    .ant-input {
        color: @input-color;
    }
}