.login-form {
    overflow: hidden;

    &__buttons-wrapper {
        margin-top: 12px;
        display: flex;
        justify-content: flex-end;
        height: 32px;
    }

    &__button {
        margin-left: 15px;
    }

    &__form-item {
        margin-top: -22px;
    }

    .ant-form-item {
        margin-bottom: 0px;
    }

    .ant-form-item-control {
        line-height: 16px;
    }

    .ant-form-explain {
        position: absolute;
        bottom: 0px;
    }

    .ant-input {
        color: @heading-color;
    }
}