.new-dashboard-form {
    &__title {
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__form-item {
        height: 76px;
        margin-bottom: 12px;

        .ant-form-explain {
            font-size: 12px;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
    }

    &__button {
        margin-left: 10px;
    }

    &__button-label {
        font-size: 13px;
        font-weight: normal;
    }
}