.profile-edit-form {
    &__bg-image {
        padding: 20px 0px;
    }

    &__wrap {
        height:100%;
    }

    &__form-wrapper {
        height:  ~"calc(100% - 133px)";
        padding: 20px;   
        overflow-y: auto;
    }

    &__buttons-wrapper {
        padding: 20px;
        border-top: 1px outset lightgrey;
        display: flex;
        justify-content: flex-end;
    }

    &__save-btn {
        padding-right: 10px;
    }

    &__terms {
        padding: 20px 0;
    }
    
    &__textarea {
        resize: vertical;
    }

    &__add-links-btn {
        margin: 16px 0 0 0;
    }

    &__links {
        margin: 20px 0 0 0;
    }
}