.profile-complete-form {
    &__textarea {
        resize: vertical;
    }
    &__wrap {
        height:100%;
    }

    &__form-wrapper {
        height:  ~"calc(100% - 70px)";
        padding-right: 20px;
        overflow-y: auto;
    }

    &__buttons-wrapper {
        padding: 20px;
        border-top: 1px outset lightgrey;
        display: flex;
        justify-content: flex-end;
    }

    &__insufficient-funds {
        padding: 20px 0;
    }

    &__save-btn {
        padding-right: 10px;
    }

    &__terms {
        padding: 20px 0;
    }

    &__tips-description {
        margin-top: 33px;
        margin-left: 8px;
        float: left;
    }

    &__tips-switch {
        float: left;
    }

    &__add-links-btn {
        margin: 16px 0 0 0;
    }

    &__links {
        margin: 20px 0 0 0;
    }
    &__footer {
        justify-content: space-between !important;
        border-top: 0.5px outset lightgrey !important;
        background-color: #fefefe;
    }

    &__request-btn {
        margin-top: 20px;
    }
}