.remember-passphrase {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 13px;
    &__select-wrapper {
        margin: 0px 0px 0px 5px;
        width: 100px;
        position: relative;
    }

    .ant-checkbox-wrapper {
        display: flex;
        align-items: center;
    }
}